<a href="https://colab.research.google.com/github/baek-study/python/blob/main/week3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1부 변수(variable)**
변수선언, type()-자료형, id()-참조값, 기호상수

## **1.1 변수 선언(정의)**
변수에 값이 저장되면서 자료형 결정

In [ ]:
x=100
y=3.14
z='hello'
print('x=', x, 'y=', y,'z=', z)

x= 100 y= 3.14 z= hello

## **1.2 변수의 자료형 - type() 함수**

In [ ]:
type(x)

int

In [ ]:
type(y)

float

In [ ]:
type(z)

str

## **1.3 변수의 참조값(주소) - id() 함수**

In [ ]:
id(x)

138677460372816

In [ ]:
id(y)

138677032762768

In [ ]:
id(z)

138677034243056

## **1.4 기호상수**
파이썬에서는  변수와 동일, 개발자가 의미적으로 사용

In [ ]:
PI = 3.14
print(PI)

3.14

# **2부 연산자**
산술연산자, 할당(대입)연산자, 복합 연산자, 타입 변환

##**2.1 산술연산자**
+, -, *, /, //(몫), %(나머지), 나누기 결과는 항상 실수

In [ ]:
print('7/4=', 7/4)
print('7//4=', 7//4)
print('7%4=',7%4)

7/4= 1.75
7//4= 1
7%4= 3

##**2.2 할당(대입) 연산자 =**
변수 = (값, 변수, 수식, 함수), 왼쪽은 항상 변수

In [ ]:
#일반 할당문
n1 = 1
n2 = n1
print('n1=', n1, 'n2=', n2)

n1= 1 n2= 1

In [ ]:
# 자기 할당문
n1 = 1
n1 = n1 +1
print('n1=', n1)

n1= 2

In [ ]:
# 다중 할당문
x=y=z=1
print('x=', x, 'y=', y,'z=', z )

x= 1 y= 1 z= 1

In [ ]:
# 다중 할당문
n1, n2 = 3, 5
print('n1=', n1, 'n2=', n2)
x, y = 3, 3.14
print('x=', x, 'y=', y )

n1= 3 n2= 5
x= 3 y= 3.14

In [ ]:
# 동시 값교환
x=1
y=2
x, y = y, x
print('x=', x, 'y=', y )

x= 2 y= 1

## **2.3 복합 할당 연산자  +=**
할당 연산자에 산술 연산자를 합함

In [ ]:
num = 1
num += 2  # num = num + 2
print('num=', num)

num= 3

In [ ]:
num = 5
num *= 2  # num = num * 2
print('num=', num)

num= 10

##**2.4 타입 변환**
int() : 정수 변환, float() 실수 변환

In [ ]:
x= 3.14
int(x)

3

In [ ]:
y=3
float(y)

3.0

# **3부 표준 입력 함수 input()**
input('안내메시지'), 타입변환-int(input())

##**3.1 입력 함수 input()**
input('안내프롬프트'), 함수의 결과는 항상 문자열

In [ ]:
name = input("이름을 입력하시오 ")
print('name = ', name)
print('name의 type : ', type(name))

이름을 입력하시오 mju
name =  mju
name의 type :  <class 'str'>

##**3.2 입력함수 + 타입 변환**
int(input()), float(input())

In [ ]:
num = int(input("정수를 입력하시오 "))
print('num = ', num)
print('num의 type : ', type(num))

정수를 입력하시오 5
num =  5
num의 type :  <class 'int'>

In [ ]:
height = float(input("키를 입력하시오 "))
print('height = ', height)
print('height의 type : ', type(height))

키를 입력하시오 180.5
height =  180.5
height의 type :  <class 'float'>