<a href="https://colab.research.google.com/github/baek-study/python/blob/main/source/week11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1부 리스트 기초**

여러 데이터를 하나로 묶어 순번에 따라 저장

*   복합자료형: 여러 데이터를 한덩어리로 모아서 유지
* 시퀀스: 순서유지함 (리스트, 문자열, 튜플)

## **1.1 리스트 생성**


*  이름 = [요소1, 요소2, ....] # 대괄호사용
* 모든 요소의 자료형 일치할 필요 없음

In [1]:
# 리스트 생성
list1 = [11,22,33,44,55]
list2 = ["단출하게", "단아하게", "당당하게"]
list3 = []

print(f'list1 = {list1}')
print(f'list2 = {list2}')
print(f'list3 = {list3}')

# 모든 요소의 자료형 일치할 필요 없음
list4 = [11, '홍길동', 19, 180.5]
list5 = [11, '홍길동', [10, 10], 190]

print(f'list4 = {list4}')
print(f'list5 = {list5}')

list1 = [11, 22, 33, 44, 55]
list2 = ['단출하게', '단아하게', '당당하게']
list3 = []
list4 = [11, '홍길동', 19, 180.5]
list5 = [11, '홍길동', [10, 10], 190]

## **1.2 리스트 인덱싱 & 슬라이싱**

* 인덱스 : 0부터 양의 정수 배정, 리스트 끝부터는 음의 정수 가능
* 인덱싱: 리스트이름[인덱스] - 한 요소 접근
* 슬라이싱: 리스트이름[시작:끝:스텝] - 시작에서 끝-1까지 부분 리스트

In [3]:
# 리스트 생성
temps=[28, 31, 33, 35, 27, 26, 25]
# 리스트 인덱싱
print(f'temps[3] = {temps[3]}')
print(f'temps[-1] = {temps[-1]}')

# 리스트 슬라이싱
print(f'temps[2:5] = {temps[2:5]}') # 인덱스 2,3,4 값 출력
print(f'temps[:5] = {temps[:5]}') # 시작의 디폴트는 0
print(f'temps[2:] = {temps[2:]}') # 끝의 디폴트는 리스트길이
print(f'temps[2:7:2] = {temps[2:7:2]}') # 스텝의 디폴트는 1
print(f'temps[::-1] = {temps[::-1]}') #리스트의 역순

temps[3] = 35
temps[-1] = 25
temps[2:5] = [33, 35, 27]
temps[:5] = [28, 31, 33, 35, 27]
temps[2:] = [33, 35, 27, 26, 25]
temps[2:7:2] = [33, 27, 25]
temps[::-1] = [25, 26, 27, 35, 33, 31, 28]

## **1.3 리스트 요소 수정**

*   인덱싱 수정 : 리스트이름[인덱스] = 교체데이터
*   슬라이싱 수정 : 리스트이름[시작:끝] = [교체데이터]
* [주의] 리스트이름[인덱스] = [교체테이터] (리스트내의 리스트로 간주됨)

In [10]:
# 리스트 요소 수정
nums = [11, 22, 33, 44, 55]
print(f'nums = {nums}')

# 인덱싱 이용한 수정
nums[0] = -1
print(f'nums[0] = -1 수정 후 ==> {nums}')


# 슬라이싱 이용한 수정
nums[1:3] = [100, 200, 300]
print(f'nums[1:3] = [100, 200, 300] 수정 후 ==>  {nums}')

# 인덱싱에 리스트로 수정 - 리스트안에 리스트
nums = [11, 22, 33, 44, 55]
nums[1] = [100, 200, 300]
print(f'nums[1] = [100, 200, 300] 수정 후 ==>  {nums}')

nums = [11, 22, 33, 44, 55]
nums[0] = -1 수정 후 ==> [-1, 22, 33, 44, 55]
nums[1:3] = [100, 200, 300] 수정 후 ==>  [-1, 100, 200, 300, 44, 55]
nums[1] = [100, 200, 300] 수정 후 ==>  [11, [100, 200, 300], 33, 44, 55]

## **1.4  리스트 복사**

*   얕은 복사: 복사리스트 = 원본리스트  - 주소만 복사
*   깊은 복사: 복사리스트 = list(원본리스트) or 원본리스트[:] - 요소 모두 복사

In [16]:
# 얕은 복사 - 주소만 같음 - 같은 객체 가리킴
nums1 = [11, 22, 33]
nums2 = []

nums2 = nums1
print(f'nums1 = {nums1}, nums2 = {nums2}')

# 한 리스트만 바뀌어도, 모두 바뀜
nums2[0] = 0
print(f'## 얕은 복사에서 nums2[0] = 0 수정 후')
print(f'    nums1 = {nums1}, nums2 = {nums2}')

#  깊은 복사 - 요소까지 복사 - 다른 것이 됨
nums1 = [11, 22, 33]
#nums2 = list(nums1)
nums2 = nums1[:]

print(f'\nnums1 = {nums1}, nums2 = {nums2}')

nums2[0] = 0
print(f'## 깊은 복사에서 nums2[0] = 0 수정 후')
print(f'   nums1 = {nums1}, nums2 = {nums2}')

nums1 = [11, 22, 33], nums2 = [11, 22, 33]
## 얕은 복사에서 nums2[0] = 0 수정 후
    nums1 = [0, 22, 33], nums2 = [0, 22, 33]

nums1 = [11, 22, 33], nums2 = [11, 22, 33]
## 깊은 복사에서 nums2[0] = 0 수정 후
   nums1 = [11, 22, 33], nums2 = [0, 22, 33]

## **1.5  리스트 연산(+, *, in/notin)**

*   리스트 연결 + : 리스트1 + 리스트2
* 리스트 반복 *: 리스트 * 정수 (리스트 요소를 정수번 반복)
* 존재여부 in/not in: 값 in 리스트

In [18]:
# 리스트 연결 (+)
nums1 = [11, 22, 33]
nums2 = [44, 55]

nums3 = nums1 + nums2
print(f'nums1 + nums2 = {nums3}')

# 리스트 요소 반복(*)
nums4 = nums1 * 2
print(f'nums1 * 2 = {nums4}')

# 리스트내 값 존재 여부 (in, not in)
nums = [11, 22, 33, 44, 55]
print(f'22 in nums ={22 in nums}')
print(f'66 not in nums = {66 not in nums}')

nums1 + nums2 = [11, 22, 33, 44, 55]
nums1 * 2 = [11, 22, 33, 11, 22, 33]
22 in nums =True
66 not in nums = True

## **1.6  리스트와 반복문(for)**

*  리스트 이용 : for 변수 in 리스트 : # 변수 - 요소값
* range() 이용 : for 변수 in range(0, len(리스트)) : #변수 - 인덱스

In [20]:
temps = [28, 31, 33 , 35, 27, 26, 25]

# 리스트 객체 이용
for element in temps:      # element는 요소 값
    print(f'{element}', end=' ')

# range() 함수 이용
print()
for i in range(0, len(temps)) : #i는  인덱스
    print(f'{temps[i]}', end = ' ')

print()
for i in range(0, len(temps), 2) :  # 스텝을 이용 가능
    print(f'{temps[i]}', end = ' ')

28 31 33 35 27 26 25
28 31 33 35 27 26 25
28 33 27 25

# **2부 리스트의 함수**


*  내장함수 : 파이썬에서 제공 함수 - len(리스트이름)
* 메소드 : 리스트 객체내의 함수 -리스트이름.append()

##**2.1 내장함수**

*   len(리스트) : 리스트 길이
* max(리스트) : 리스트내의 max 값
* min(리스트) : 리스트내의 min 값

In [22]:
temps = [28, 31, 33 , 35, 27, 26, 25]
print(f'temps = {temps}')

# 내장 함수
print(f'리스트 길이 = {len(temps)}')
print(f'리스트내 max 값 = {max(temps)}')
print(f'리스트내 min 값 = {min(temps)}')

temps = [28, 31, 33, 35, 27, 26, 25]
리스트 길이 = 7
리스트내 max 값 = 35
리스트내 min 값 = 25

##**2.2 메소드**
객체 = 메소드(함수) + 변수

*  리스트.append(값) : 리스트에 요소 값 추가

In [31]:
# 메소드 - append(값) : 리스트에 요소 값 추가
list1 = []
print(f' #  빈리스트 list1 = {list1}')
# for 1 ~ 10까지 - list1에 1~10 요소를 추가 - 메소드 append
for i in range(1, 6) :
    list1.append(i)
    print(f' # list1.append[{i}] 수행 후 list1 = {list1}')

 #  빈리스트 list1 = []
 # list1.append[1] 수행 후 list1 = [1]
 # list1.append[2] 수행 후 list1 = [1, 2]
 # list1.append[3] 수행 후 list1 = [1, 2, 3]
 # list1.append[4] 수행 후 list1 = [1, 2, 3, 4]
 # list1.append[5] 수행 후 list1 = [1, 2, 3, 4, 5]